{% extends "layouts/admin.twig" %}
{% block content %}
    <div class="module">
        <div class="module__body">
            <h2 class="headline"><a href="#" id="talk-favorite-{{ talk.id }}" class="js-talk-favorite" data-id="{{ talk.id }}"><i class="fa fa-star star-favorite{% if talk.favorite == 1 %} star-favorite--selected{% endif %}"></i></a> {{ talk.title }}</h2>
            <h4><strong>Submitted by:</strong> <a href="{{ url('admin_speaker_view', { id: talk.user_id }) }}">{{ speaker.first_name }} {{ speaker.last_name }}</a></h4>

            <p>{{ talk.description|striptags|markdown }}</p>
            {% if talk.other is defined %}
            <p><strong>Other Info:</strong> {{ talk.other|striptags|markdown }}</p>
            {% endif %}

            <p>
                <strong>Slides:</strong> {% if talk.slides is defined %}{{ talk.slides }}{% endif %}<br />
                <strong>Type:</strong> {{ talk.type }}<br />
                <strong>Topic Level:</strong> {% if talk.level is defined %}{{ talk.level }}{% endif %}<br />
                <strong>Sponsoring:</strong> {{ talk.sponsor|striptags|markdown }}
            </p>

            {% if otherTalks | length > 0 %}
                <h4><strong>Other talks by this speaker:</strong></h4>
                <ul>
                {% for talk in otherTalks %}
                    <li><i class="fa fa-star star-favorite{% if talk.favorite == 1 %} star-favorite--selected{% endif %}"></i> <a href="{{ url('admin_talk_view', { id: talk.id }) }}">{{ talk.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}

            <ul class="pager">
                {% if false == prevTalk %}
                    <li class="previous disabled"><a href="#">Previous</a></li>
                {% else %}
                    <li class="previous"><a href="{{ url('admin_talk_view', { id: prevTalk.id }) }}" title="{{ prevTalk.title }}">Previous</a></li>
                {% endif %}
                {% if false == nextTalk %}
                    <li class="next disabled"><a href="#">Next</a></li>
                {% else %}
                    <li class="next"><a href="{{ url('admin_talk_view', { id: nextTalk.id }) }}" title="{{ nextTalk.title }}">Next</a></li>
                {% endif %}
            </ul>

            <p><a href="{{ url('admin_talks') }}" class="btn btn-primary">Return to viewing all talks</a></p>
        </div>
    </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <script src="/assets/js/admin/talk.js"></script>
{% endblock %}
